<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title slot="start">Tab 1</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

	<ion-item-group>
		<ion-item-divider>Cards</ion-item-divider>
	</ion-item-group>

    <swiper>

		<ng-container *ngFor="let card of [0,1,2,3]">
        <ng-template swiperSlide>

            <ion-card>

                <ion-card-header>
                    <ion-card-title>asdasd</ion-card-title>
                    <ion-card-subtitle>Created: </ion-card-subtitle>
                </ion-card-header>

                <ion-card-content>

                    <ion-text>
                        <div class="ion-text-justify">
								asdasd
                        </div>
                    </ion-text>

                </ion-card-content>
            </ion-card>
        </ng-template>
	</ng-container>

    </swiper>

</ion-content>
