<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title slot="start">Tab 1</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <!-- home.page.html -->

    <swiper #swiper>
        <ng-template
            swiperSlide
            *ngFor="let card of cards"
        >
            <div style="width: 100vw; max-width: 500px">

                <ion-card>

                    <ion-card-header>
                        <ion-toolbar>
                            <div
                                class="ion-text-start"
                                slot="start"
                            >
                                <ion-card-title>{{card.title}}</ion-card-title>
                                <ion-card-subtitle>{{card.dateCreated}}</ion-card-subtitle>
                            </div>
                            <ion-button
                                fill="clear"
                                slot="end"
                            >
                                <ion-icon
                                    size="large"
                                    name="create-outline"
                                ></ion-icon>
                            </ion-button>
                        </ion-toolbar>

                    </ion-card-header>

                    <ion-card-content>
                        <ion-note>
                            <p class="ion-text-justify">{{card.content}}</p>
                        </ion-note>

                    </ion-card-content>
                    <ion-toolbar color="light">

                        <ion-badge
                            color="tertiary"
                            class="ion-align-items-center"
                        >
                            {{swiper.swiperRef.activeIndex+1}} | {{swiper.swiperRef.slides.length}}
                        </ion-badge>

                    </ion-toolbar>

                </ion-card>
            </div>
        </ng-template>

    </swiper>

    <ion-buttons class="card-controls">
        <ion-button
            (click)="onDirectionalClick('Prev',swiper)"
            color="secondary"
            [disabled]="!leftButtonEnabled"
        >
            <ion-icon
                size="large"
                name="chevron-back-circle-outline"
            ></ion-icon>
        </ion-button>
        <ion-fab-button
            size="small"
            color="primary"
        >
            <ion-icon name="add-circle-outline"></ion-icon>
        </ion-fab-button>
        <ion-button
            (click)="onDirectionalClick('Next',swiper)"
            color="secondary"
            [disabled]="!rightButtonEnabled"
        >
            <ion-icon
                size="large"
                name="chevron-forward-circle-outline"
            ></ion-icon>
        </ion-button>
    </ion-buttons>

</ion-content>
